<% if @child.errors.any? %>

    <h5>
        <%= pluralize(@child.errors.count, "error") %> prohibited this report from being saved:
    </h5>

    <ul>
      <% @child.errors.each do |k, v| %>
        <li><%= v %></li>
      <% end %>
    </ul>

<% end %>

<div class="form-content">

  <%= form_for @child do |f| %>

    <p><%= f.label :first_name %> <%=f.text_field :first_name %></p>
    <p><%= f.label :last_name %> <%=f.text_field :last_name %></p>
    <p><%= f.label :birthdate %> <%= f.date_select :birthdate, { :start_year => Time.now.year - 5, :end_year => Time.now.year}%>
    <p><%= f.label 'attach to a parent account' %> <%= f.collection_select :user_id, User.all, :id, :name, :prompt => 'Select a parent' %></p>
    <p><%= f.label 'enter a seconday email if there is one' %><%= f.email_field :secondary_email %></p>
    <%= f.submit %>

  <% end %>

</div>
