<h3 class="text-center"><%=@child.name%>'s Profile Page</h3><hr>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="well">
  	<p>Birthdate: <%= format_date(@child.birthdate) %></p>
  	<p>Parents Email:
			<% if @child.user %>
				<span> <%= @child.user.email %></span>
			<% else %>
				<span> no parent account linked to this child </span>
			<% end %>
		</p>
		<p>Secondary email:
			<% if @child.user && @child.user.secondary_email %>
				<%= @child.user.secondary_email %>
			<% else %>
				<span> none </span>
			<% end %>
		</p>
  	<p>Average nap duration: <% if @child.nap_average %> <%= @child.nap_average.round(2) %> hours </p> <% else %> no naps recorded </p> <% end %>
  	<p>Observed Performing Acts of Kindness: <%=@child.kind_acts.count %> times</p>
  	<p>Observed Receiving Acts of Kindness: <%=@child.gifts.count %> times</p>

		<% if policy(@child).update? %>
  		<%= link_to "edit profile", edit_child_path(@child) %> |
		<% end %>
		<% if policy(@child).destroy? %>
  		<%= link_to "delete profile", child_path(@child), method: :delete, data: { confirm: "Are you sure?"} %></br>
		<% else %>
			</br>
		<% end %>
  </div>


  <h4 class="text-center">Daily Reports</h4>
  <div class="well">
  	<% if @child.daily_reports.empty? %>
    	<p> There are none yet </p>
  	<% else %>
			<ul>
				<%= render @child.daily_reports %>
			</ul>
  	<% end %>
  </div>


	<% if policy(DailyReport).create? %>
		<p><%= link_to "Create a new report", new_child_daily_report_path(@child) %></p>
		<% end %>
	<p><%= link_to "Return to Roster", children_path %></p>

  </div>
</div>
