<% if @user.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>
    <ul>
      <% @user.errors.each do |k, v| %>
        <% if k == :email || k == :password %>
          <li><%= k.to_s.capitalize %> <%= v %></li>
        <% elsif k == :password_confirmation %>
          <li><%= k.to_s.gsub!(/_/, ' ').capitalize %> <%= v %></li>
        <% else %>
          <li><%= v %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user, url: create_user_path do |f| %>

  <form>
    <div class="form-group">
      <p><%= f.label :first_name %> <%=f.text_field :first_name, class: "form-control" %></p>
      <p><%= f.label :last_name %> <%=f.text_field :last_name, class: "form-control" %></p>
    </div>

    <div class="form-group">
      <p><%= f.label :email %> <%=f.text_field :email, class: "form-control" %></p>
    </div>

    <div class="form-group">
      <p><%= f.label :role %> <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %></p>
    </div>

    <div class="form-group">
      <p> <%= f.label "Associate child to this parent" %>
          <%= f.collection_select(:child_ids, Child.all, :id, :name)%></p>
    </div>

    <div id='children'>
      <%= f.fields_for :children do |child| %>
        <%= render 'child_fields', f: child %>
      <% end %>
      <div class='links'>
        <p><%= link_to_add_association 'Click here to register a new child for this parent (as many times as needed)', f, :children, class: 'add-child btn btn-default btn-block' %></p>
      </div>
    </div>

    <% if @user.new_record? %>
      <div class="form-group">
        <p><%= f.label :password %> <%=f.password_field :password, class: "form-control" %></p>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
    <% end %>

    <%= f.submit :class => 'btn btn-primary' %>

  <% end %>
</form>
