<h3 class="top_banner">Daily Report for <%= @daily_report.child.name %></h4>

<div class="main-content">
  <label>Date:</label> <%= format_date(@daily_report.date) %></br>

  <label>Appetite</label>
  <ul>
    <li>morning snack: <%= @daily_report.morning_snack %></li>
    <li>lunch: <%= @daily_report.lunch %></li>
    <li>afternoon snack: <%= @daily_report.afternoon_snack %></li>
  </ul>

  <label>Diaper Changes:</label>
  <ul>
    <li>Wet diapers: <%= @daily_report.wet_diapers %></li>
    <li>Poopy diapers: <%= @daily_report.poopy_diapers %></li>
  </ul>

  <label>Nap:</label>
  <% if !@daily_report.nap_statement %>
     no nap today </p>
    <% else %>
  <%= @daily_report.nap_statement %> (<%= format_time(@daily_report.nap_start) %> to <%=format_time(@daily_report.nap_end) %>)<% end %></p>

  <label>About My Day</label>
  <div><%= simple_format(@daily_report.narrative) %></div>

  <% if @daily_report.kind_acts.count > 0 %>
    	<p><b>Observed Acts of Kindess</b></p>
    	<ul>
        <% @daily_report.kind_acts.each do |ka| %>
    	   <li><%= ka.act %></li>
         <ul><li>recipient of act: <%= ka.recipient.name %></li></ul>
         <% end %>
    	</ul>
    <% end %>

  <% if !@daily_report.needs.empty? %>
    <label>I need:</label>
    <ul>
      <% @daily_report.needs.each do |n| %>
        <li><%= n %></li>
      <% end %>
    </ul>
    <% end %>

  <%= link_to "edit report", edit_child_daily_report_path(@child, @daily_report) %></br>
  <%= link_to "delete report", child_daily_report_path(@child, @daily_report), method: :delete, data: { confirm: "Are you sure?"} %></br>
  <%= link_to "Back to #{@child.name}'s profile", child_path(@child) %></p>
</div>
