<nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= image_tag "m_logo.gif" %>
      </div><!-- navbar-header -->
      <div class="collapse navbar-collapse" id="collapse">
        <ul class="nav navbar-nav navbar-left">
          <% if current_user.user? %>
            <li><%= link_to "Your Enrolled Children", children_path %></li>
          <% elsif current_user.guide? || current_user.admin? %>
            <li><%= link_to "Roster", children_path %></li>
            <% if current_user.admin? %>
              <li><%= link_to "Register new child", new_child_path %></li>
              <li><%= link_to "Administrative Control", users_path %></li>
            <% end %>
          <% end %>
          <li><%= link_to "Announcements", page_path("announcements") %></li>
          <li><%= link_to "Parent Directory", page_path('parent_directory') %></li>
          <li><%= link_to "sign out", destroy_user_session_path, method: "delete"  %></li>
        </ul>
      </div><!-- collapse navbar-collapse -->
    </div><!-- container -->
  </nav>
