<!DOCTYPE html>
<html>
  <head>
    <title>Montessori Monitor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Muli", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %></br>

    <div class="container">
      <% if current_user %><p class="text-center alert">signed in as: <%= current_user.name %> | access level: <%= current_user.role %> </p><% end%>
      <%= render partial: "layouts/flash_messages", flash: flash %>
      <%= yield %>
    </div>
  </body>

</html>
