<!DOCTYPE html>
<html>
  <head>
    <title>NurserySchoolDaze</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Muli", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container"</div>
      <% if user_signed_in? %>
        <%= render 'layouts/navbar' %>
    <p class="text-center" style="color:brown">signed in as: <%= current_user.name %> | access level: <%= current_user.role %> | <%= link_to 'edit your account', edit_user_registration_path %></p>
    <% end %>
    <p> <span class="alert"><%= notice %></span><span class="alert"><%= alert %></span></p>
    <div class="col-md-8 col-md-offset-2 main_content">
      <%= yield %>
    </div>
  </body>

</html>
