<!DOCTYPE html>
<html>
  <head>
    <title>Montessori Monitor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Muli", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/navbar' %></br>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= render partial: "layouts/flash_messages", flash: flash %>
          <%= yield %>
        </div>
      </div>
    </div>

  </body>

</html>
